In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df = pd.read_csv('C:/Users/User/Desktop/Personal Projects/Linkedin/Grant-Management/data/grant_management_data.csv')
df.head()

,Grant_ID,Project_Name,Grant_Amount,Funds_Allocated,Start_Date,End_Date,Completion_Percentage,Key_Deliverables,Success_Rate (%),Manager_Name
0,1,Community Health Outreach,100000.0,60000.0,2023-01-01,2024-01-01,70.0,Health surveys and workshops,85.0,John Doe
1,2,Renewable Energy Initiative,250000.0,180000.0,2022-05-01,2025-05-01,45.0,Solar panel installations,60.0,Jane Smith
2,3,Youth Education Program,50000.0,30000.0,2023-03-01,2024-03-01,90.0,After-school tutoring sessions,95.0,Mary Lee
3,4,Urban Green Spaces Development,200000.0,150000.0,2022-09-01,2023-12-31,50.0,Community gardens and parks,70.0,Alex Johnson
4,5,Clean Water Access Program,150000.0,80000.0,2023-02-01,2024-07-01,60.0,Water filtration systems installation,80.0,Emily Davis

In [11]:
df.describe()

,Grant_ID,Grant_Amount,Funds_Allocated,Completion_Percentage,Success_Rate (%)
count,20.00000,20.000000,20.000000,20.000000,20.000000
mean,10.50000,174500.000000,121250.000000,68.150000,78.400000
std,5.91608,76449.157511,66961.791934,17.962754,12.592395
min,1.00000,50000.000000,30000.000000,30.000000,50.000000
25%,5.75000,117500.000000,75000.000000,58.750000,70.000000
50%,10.50000,165000.000000,100000.000000,70.000000,80.000000
75%,15.25000,227500.000000,165000.000000,81.250000,88.500000
max,20.00000,300000.000000,270000.000000,95.000000,95.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Grant_ID               20 non-null     int64
 1   Project_Name           20 non-null     object
 2   Grant_Amount           20 non-null     float64
 3   Funds_Allocated        20 non-null     float64
 4   Start_Date             20 non-null     object
 5   End_Date               20 non-null     object
 6   Completion_Percentage  20 non-null     float64
 7   Key_Deliverables       20 non-null     object
 8   Success_Rate (%)       20 non-null     float64
 9   Manager_Name           20 non-null     object
dtypes: float64(4), int64(1), object(5)
memory usage: 1.7+ KB